<h1>fuckin hell</h1>

<ul class 'images-list'>
  {{#each this}}
    <li><img src="{{url}}"/></li>
  {{/each}}
</ul>

<form class="create-posts">
  <input class="image-creator" type="submit" placeholder="image URL">
  <input class="caption-creator" type="submit" placeholder="caption">
</form>
